{% extends "layout_admin.html" %}

{% load static %}
{% block title %}Yönetim Paneli | Şeyma {% endblock title %} 
{% block content %}

    <!-- Main Content -->
    <div class="main-panel">
      <!-- Yazı Yazma Alanı -->
      <div class="section-box">
        <h4>📝 Yeni Yazı Oluştur</h4>
        <form action="{% url 'admin-paneli' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% if error %}
            <div class="alert alert-danger">{{msg}}</div>
          {% endif %}
          <div class="mb-3">
            <label for="title" class="form-label">Başlık</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Yazı başlığı">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">İçerik</label>
            <textarea class="form-control" name="description" id="editor" rows="4" placeholder="Yazı içeriğini buraya girin..."></textarea>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Kategori</label>
            <select name="category" class="form-select" id="category">
              {% for cat in kategoriler %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="imageUrl" class="form-label">Fotoğraf</label>
            <input type="file" name="image" class="form-control" id="imageUrl">
          </div>

          <div class="form-check mb-3">
            <input type="checkbox" name="isActive" class="form-check-input" checked>
            <label for="isActive" name="isActive" class="form-check-label">Aktiflik</label>
          </div>
          <button class="btn btn-primary">Yayımla</button>
        </form>
      </div>

<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor', {
        width: '100%',
        height: '300px'
    });
</script>

{% endblock content %}
