{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Giriş Yap | Şeyma</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'mainproject/css/giris.css' %}">
</head>
<body>
  {% include "messages.html" %}

  <div class="login-container">
    <div class="login-box">
      <h2>Giriş Yap</h2>
      {% if error %}
        <div class="alert alert-danger">{{error}}</div>
      
      {% endif %}
      <form method="POST">
      {% csrf_token %}

        <div class="mb-3">
          <label for="username" class="form-label">E-posta</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="ornek@mail.com" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Şifre</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="•••••••" required>
        </div>
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
      </form>
      <div class="login-footer">
        &copy; 2025 Şeyma | Tüm hakları saklıdır.
        <br>
        <a href="index.html">Siteye geri dön</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
